<h1>Add Project</h1>

<form method="POST" action="/admin/add" enctype="multipart/form-data">
    <div class="row">
        <div class="large-12 columns">
            <label> Title
                <input type="text" name="title" placeholder="Title">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label> service
                <input type="text" name="service" placeholder="service">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label> client
                <input type="text" name="client" placeholder="client">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label> description
                <input type="text" name="description" placeholder="description">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label> url
                <input type="text" name="url" placeholder="url">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label> date
                <input type="date" name="date">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label> image
                <input type="file" name="image">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
            
                <input type="submit" name="submit" value="submit" class="button success">

           
        </div>
    </div>

</form>